@font-face {
  font-family: Syne;
  src: url(SyneMono-Regular.ttf);
}

* {
  --text-color: antiquewhite;
  --back-color: #222;
  --link-color: rgb(251, 115, 100);
  --link-color-hover:rgb(254, 149, 114); 
  --code-back-color: #333;
  --code-border-color: #444;
  --footer-color: rgb(80, 80, 80);
  --footer-anchor-color: rgb(80, 80, 80);
}

html,
body {
  background: var(--back-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font: 20px 'Syne', monospace;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
}

a[href*="//"]:after { 
  content: "\2197";
}

img {
  max-width: 100%;
  display: block;
}

code {
  font: 18px 'Syne', monospace;
}

pre {
  background: var(--code-back-color);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  border: 0.06rem solid var(--code-border-color);
}