@font-face {
  font-family: Syne;
  src: url(SyneMono-Regular.ttf);
}

* {
  --text-color: antiquewhite;
  --back-color: dimgray;
  --link-color: #f88080;
  --code-bg: #444;
  --code-border: #555;
  --footer-color: #555;
  --footer-anchor-color: #555;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  background: var(--back-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font: 22px 'Syne', monospace;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a[href*="//"]:after { 
  content: "\2197";
}

img {
  max-width: 100%;
  display: block;
}

code {
  font: 20px 'Syne', monospace;
}

pre {
  background: var(--code-bg);
  padding: 0.4rem 0.8rem;
  border-radius: 0.25rem;
  border: 0.035rem solid var(--code-border);
}