.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
  font-variant: small-caps;
}

.headingX3 {
  font-variant: small-caps;
  font-size: 2rem;
  letter-spacing: 0.125rem;
  margin: 1rem 0;
  font-weight: 800;
}

.projects {
  width: 350px;
  border: 0.2rem solid #444;
  margin: 0;
  padding: 0;
}

.projects:hover {
  border: 0.2rem solid #555;
}

.projectsLink {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--footer-color);
  margin: 3rem 0 0;
}

.projectsLink a {
  color: var(--footer-anchor-color);
  text-decoration: underline;
}

.projectsLink a:hover {
  color: var(--footer-anchor-color);
  text-decoration: none;
}

.headingXl {
  font-variant: small-caps;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 0.125rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: gray;
}
